In [1]:
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import re
import pandas as pd
import os
import time
import numpy as np
import numpy

In [169]:
def clean_salary(i):
    i = i.replace('k','').replace('M','').replace('$','').replace('£','')
    return (i)

In [173]:
def avg(i):
    if type(i) != float:
        try:
            average = (clean_salary(i).split('–')[0] + clean_salary(i).split('–')[1]) / 2
        except:
            average = clean_salary(i)
        return average
    else:
        return str(np.nan)

In [174]:
ss = ['buyer']

In [128]:
driver = webdriver.Chrome(executable_path='./chromedriver')
pre = 1
post = 0
full = pd.read_csv('./Jobs/full_jobs_df.csv')
while pre != post:
    for title_name in ss.copy():
        pre = len(ss)
        title_list = []
        job_name = title_name.replace(' ','_')
        job_url_name = job_name.replace('_','+')
        pre_url = f'https://www.google.com/search?q={job_url_name}&ibp=htl;jobs#fpstate=tldetail&htidocid='
    #     driver = webdriver.Chrome(executable_path='./chromedriver')

        test_url = f'https://www.google.com/search?q={job_url_name}&ibp=htl;jobs'
        driver.get(test_url)
        proceed = 0
    #     while proceed != 'Y':
    #         proceed = input('Are You Ready To Proceed? (Y/N)')
        for i in [pre_url+link.attrs['id'][4:] for link in BeautifulSoup(driver.page_source, 'lxml').find_all('div',{'jsname':'x5pWN'})]:
            driver.get(i)
        soup = BeautifulSoup(driver.page_source, 'lxml')
        jobs = soup.find_all('li')
        job_list = []
        for job in jobs:
            if (job.find('h2',{'jsname':'SBkjJd'}) != None) and (len(job.find_all('div',{'class':'tcoBdd'}))>1):
                job_dic = {}
                job_dic['title']= job.find('h2',{'jsname':'SBkjJd'}).text
                title_list.append(job_dic['title'])
                job_dic['company']=job.find('div',{'class':'pbHUre tcoBdd'}).text
                job_dic['body']=job.find('span',{'style':'line-height:1.5em'}).text
                job_dic['location']=job.find_all('div',{'class':'tcoBdd'})[1].text
                try:
                    job_dic['salary']=job.find('span',{'class':'zE8vH'}).text.replace('CA','')
                except:
                    job_dic['salary']=np.nan
                job_dic['avg_salary']=avg(job_dic['salary'])
                job_list.append(job_dic)
#         full = pd.read_csv('./Jobs/full_jobs_df.csv')
        full.avg_salary = full.avg_salary.astype('object')
        new = pd.DataFrame(job_list)
        try:
            new.salary = new.salary.astype('object')
            full = pd.merge(full,new,how='outer')
            full.drop_duplicates(inplace=True)
            full.body = full.body.str.lower()
            full.to_csv('./Jobs/full_jobs_df.csv',index=False)
        except:
            pass
        
    #     driver.quit()
        print(f'We now have {full.shape[0]} jobs')
        print(f'{full.avg_salary.notnull().sum()} of these jobs have a salary')
#         time.sleep(5)
    for title in title_list:
        ss.append(title)
        ss = list(dict.fromkeys(ss))
    post = len(ss)
driver.quit()

We now have 5478 jobs
2659 of these jobs have a salary
We now have 5497 jobs
2678 of these jobs have a salary
We now have 5496 jobs
2677 of these jobs have a salary
We now have 5497 jobs
2678 of these jobs have a salary
We now have 5503 jobs
2684 of these jobs have a salary
We now have 5511 jobs
2692 of these jobs have a salary
We now have 5527 jobs
2708 of these jobs have a salary
We now have 5527 jobs
2708 of these jobs have a salary
We now have 5526 jobs
2707 of these jobs have a salary
We now have 5529 jobs
2710 of these jobs have a salary
We now have 5538 jobs
2719 of these jobs have a salary
We now have 5543 jobs
2724 of these jobs have a salary
We now have 5541 jobs
2722 of these jobs have a salary
We now have 5537 jobs
2718 of these jobs have a salary
We now have 5542 jobs
2723 of these jobs have a salary
We now have 5555 jobs
2736 of these jobs have a salary
We now have 5562 jobs
2743 of these jobs have a salary
We now have 5562 jobs
2743 of these jobs have a salary
We now have 5546 jobs
2727 of these jobs have a salary
We now have 5548 jobs
2729 of these jobs have a salary
We now have 5564 jobs
2745 of these jobs have a salary
We now have 5573 jobs
2754 of these jobs have a salary
We now have 5581 jobs
2762 of these jobs have a salary
We now have 5578 jobs
2759 of these jobs have a salary
We now have 5585 jobs
2766 of these jobs have a salary
We now have 5582 jobs
2763 of these jobs have a salary
We now have 5590 jobs
2771 of these jobs have a salary
We now have 5588 jobs
2769 of these jobs have a salary
We now have 5583 jobs
2764 of these jobs have a salary
We now have 5588 jobs
2769 of these jobs have a salary
We now have 5591 jobs
2772 of these jobs have a salary
We now have 5591 jobs
2772 of these jobs have a salary
We now have 5591 jobs
2772 of these jobs have a salary
We now have 5583 jobs
2764 of these jobs have a salary
We now have 5585 jobs
2766 of these jobs have a salary
We now have 5591 jobs
2772 of these jobs have a salary
We now have 5591 jobs
2772 of these jobs have a salary
We now have 5593 jobs
2774 of these jobs have a salary
We now have 5587 jobs
2768 of these jobs have a salary
We now have 5593 jobs
2774 of these jobs have a salary
We now have 5587 jobs
2768 of these jobs have a salary
We now have 5587 jobs
2768 of these jobs have a salary

In [126]:
full.head()

,avg_salary,body,company,location,salary,title
0,NaN,digital marketing coordinator- tech | new york...,Informa,"New York, NY",NaN,Digital Marketing Coordinator
1,NaN,at brooklyness we are creating a better commut...,BROOKLYNESS,Anywhere,NaN,Digital Marketing Lead
2,123.3,the digital marketing director will develop an...,Splits59,"New York, NY",$85.6k–161k,Digital Marketing Director
3,128.95,job description\n\nreuters news agency is seek...,Thomson Reuters,"New York, NY",$85.9k–172k,"Senior Manager, Global Digital Marketing"
4,84.45,love data and conversions? come join our team....,CB Insights,"New York, NY",$57.9k–111k,Digital Marketing Manager

In [75]:
[job for job in jobs][0].find('span',{'class':'Cyt8W'})

In [175]:
def manually_get_job_data(job_name):
    job_name = job_name.replace(' ','_')
    job_url_name = job_name.replace('_','+')
    pre_url = f'https://www.google.com/search?q={job_url_name}&ibp=htl;jobs#fpstate=tldetail&htidocid='
    driver = webdriver.Chrome(executable_path='./chromedriver')

    test_url = f'https://www.google.com/search?q={job_url_name}&ibp=htl;jobs'
    driver.get(test_url)
    proceed = 0
    while proceed != 'Y':
        proceed = input('Are You Ready To Proceed? (Y/N)').upper()
    for i in [pre_url+link.attrs['id'][4:] for link in BeautifulSoup(driver.page_source, 'lxml').find_all('div',{'jsname':'x5pWN'})]:
        driver.get(i)
    soup = BeautifulSoup(driver.page_source, 'lxml')
    jobs = soup.find_all('li')
    job_list = []
    for job in jobs:
        if (job.find('h2',{'jsname':'SBkjJd'}) != None) and (len(job.find_all('div',{'class':'tcoBdd'}))>1):
            job_dic = {}
            job_dic['title']= job.find('h2',{'jsname':'SBkjJd'}).text
            job_dic['company']=job.find('div',{'class':'pbHUre tcoBdd'}).text
            job_dic['body']=job.find('span',{'style':'line-height:1.5em'}).text
            job_dic['location']=job.find_all('div',{'class':'tcoBdd'})[1].text
            try:
                job_dic['salary']=job.find('span',{'class':'zE8vH'}).text.replace('CA','')
            except:
                job_dic['salary']=np.nan
            job_dic['avg_salary']=avg(job_dic['salary'])
            job_list.append(job_dic)
    full = pd.read_csv('./Jobs/full_jobs_df.csv')
    full.avg_salary = full.avg_salary.astype('object')
    new = pd.DataFrame(job_list)
    try:
        new.salary = new.salary.astype('object')
        full = pd.merge(full,new,how='outer')
        full.drop_duplicates(inplace=True)
        full.body = full.body.str.lower()
        full.to_csv('./Jobs/full_jobs_df.csv',index=False)
    except:
        pass

    driver.quit()
    print(f'We now have {full.shape[0]} jobs')
    print(f'{full.avg_salary.notnull().sum()} of these jobs have a salary')
    return

In [177]:
word = input("Enter Job Title")
manually_get_job_data(word)

Enter Job Title ai
Are You Ready To Proceed? (Y/N) y

We now have 6129 jobs
3094 of these jobs have a salary